<%- include('../../layout/header') %>

<main class="container-cart">

<div class="wrapper-cart">
  <div class="product-cart">
    <h3>New Release</h3>
    <div class="line"></div>
    <div class="produk-list">
      <% body.new_update.forEach(a=> { %>
    <div class="produk-box">
      <a class="see-detail" href="#" data-toggle="modal"
          data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
          data-target="#exampleModal">
          <div>
            <img src="<%= a.thumb %>" >
            <div class="ket">
              <h2><%= a.name %></h2>
             <center><button style="width:100%;" class="btn align-center btn-primary">Detail</button></center>
            </div>
          </div>
        </a>
    </div>
    <% }) %>
    </div>

  </div>
</div>

<div class="total-cart shadow">
    <h2 class="title">Populer</h2>
    <div class="">
      <% body.recent_popular.forEach(a=> { %>
        <ul>
          <li>
            <a class="see-detail" href="#" data-toggle="modal"
              data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
              data-target="#exampleModal">
            <img width="50px" src="<%= a.thumb %>" alt="">
            <%= a.name %>
            </a>
          </li>
        </ul>
        <% }) %>

    </div>
    <h2 class="title">New Release</h2>
    <div class="hidden-new">
      <% body.new_update.forEach(a=> { %>
      <ul>
        <li>
          <a class="see-detail" href="#" data-toggle="modal"
            data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
            data-target="#exampleModal">
          <img width="50px" src="<%= a.thumb %>" alt="">
          <%= a.name %>
          </a>
        </li>
      </ul>
      <% }) %>

    </div>

</div>



</main>

<%- include('../../layout/footer') %>
