<%- include('../../layout/header') %>

<main class="" >

    <div class="row mt-4 justify-content-center">
        <div class="col">
            <h1 class="text-center">Home</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Title...." id="search-input">
                <div class="input-group-append">
                    <button class="btn btn-outline-dark" type="button" onClick="getSearch('id')">Search</button>
                </div>
            </div>

        </div>
    </div>

    <h3>Popular</h3>
    <div class="produk-list">
      <% body.recent_popular.forEach(a=> { %>
    <div class="produk-box">
      <a class="see-detail" href="#" data-toggle="modal"
          data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
          data-target="#exampleModal">
          <div>
            <img src="<%= a.thumb %>" >
            <div class="ket">
              <h2><%= a.name %></h2>
              <h3></h3>
            </div>
          </div>
        </a>
    </div>
    <% }) %>
    </div>

    <h3>Baru Rilis</h3>
    <div class="produk-list">
      <% body.new_update.forEach(a=> { %>
    <div class="produk-box">
      <a class="see-detail" href="#" data-toggle="modal"
          data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
          data-target="#exampleModal">
          <div>
            <img src="<%= a.thumb %>" >
            <div class="ket">
              <h2><%= a.name %></h2>
              <h3></h3>
            </div>
          </div>
        </a>
    </div>
    <% }) %>
    </div>

    <br>
    <hr>
</main>

    <%- include('../../layout/footer') %>
