<%- include('../../layout/header') %>
<%- include('../../layout/slider') %>

<main class="container-cart">
<!-- DESKTOP -->
<!-- DESKTOP -->
<div class="wrapper-cart">
  <div class="product-cart">
    <h3 class="title" >Popular Terbaru</h3>
    <div class="produk-list">
      <% body.recent_popular.forEach(a=> { %>
    <div class="produk-box">
      <a class="see-detail" href="#" data-toggle="modal"
          data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
          data-target="#exampleModal">
          <div>
            <img id="myFile" src="<%= a.thumb %>" >
            <div class="ket">
              <h2><%= a.name %></h2>
              <span class="badge badge-primary" >
                <%= a.last_upload %>
              </span>
            </div>
          </div>
        </a>
    </div>
    <% }) %>
    </div>
  </div>
<br>
  <div class="product-cart">
    <h3 class="title" >Komik berwarna Terbaru</h3>
    <div class="produk-list">
      <% body.colored_komik.forEach(a=> { %>
    <div class="produk-box">
      <a class="see-detail" href="#" data-toggle="modal"
          data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
          data-target="#exampleModal">
          <div>
            <img id="myFile" src="<%= a.thumb %>" >
            <div class="ket">
              <h2><%= a.name %></h2>
              <span class="badge badge-primary" >
                <%= a.last_upload %>
              </span>
            </div>
          </div>
        </a>
    </div>
    <% }) %>
    </div>
  </div>
</div>
<!-- DESKTOP -->
<!-- DESKTOP -->

<!-- SIDEBAR -->
<!-- SIDEBAR -->
<div>
  <h2 class="title">Popular</h2>
  <% sidebar.popular.forEach(a=> { %>
    <div  class="card-items">
      <img src="<%= a.thumb %>" alt="">
      <a class="boxes see-detail" href="#" data-toggle="modal"
      data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
      data-target="#exampleModal">
      <p>
        <%= a.name %> <br>
        <i class="fa-solid fa-star"></i> <%= a.score %>
      </p>
      </a>
      </div>
    <% }) %>
</div>
<!-- SIDEBAR -->
<!-- SIDEBAR -->


<!-- MOBILE -->
<!-- DESKTOP HIDDEN -->
<div class="hidden-new">
  <div class="card-items-body" >
    <h2 class="title">Popular Terbaru</h2>
    <% body.recent_popular.forEach(a=> { %>
      <div class="card-items">
        <img src="<%= a.thumb %>" alt="">
        <a class="boxes see-detail" href="#" data-toggle="modal"
        data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
        data-target="#exampleModal">
           <p>
              <%= a.name %> <br>
              <%= a.score %> <br>
              <span class="badge badge-primary" >
                <%= a.last_upload %>
              </span>
            </p>
        </a>
      </div>
      <% }) %>
      <h2 class="title">Komik Berwarna Terbaru</h2>
      <% body.colored_komik.forEach(a=> { %>
        <div class="card-items">
          <img src="<%= a.thumb %>" alt="">
          <a class="boxes see-detail" href="#" data-toggle="modal"
          data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
          data-target="#exampleModal">
          <p>
            <%= a.name %> <br>
            <span class="badge badge-primary" >
              <%= a.last_upload %>
            </span>
          </p>
        </a>
        </div>
      <% }) %>
  </div>
</div>
<!-- MOBILE -->
<!-- MOBILE -->
</main>



<%- include('../../layout/footer') %>
