<%- include('../../layout/header') %>

<main class="container-cart">

<div class="wrapper-cart">
  <div class="product-cart">
    <h3 class="title" >Popular Terbaru</h3>
    <div class="produk-list">
      <% body.recent_popular.forEach(a=> { %>
    <div class="produk-box">
      <a class="see-detail" href="#" data-toggle="modal"
          data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
          data-target="#exampleModal">
          <div>
            <img id="myFile" src="<%= a.thumb %>" >
            <div class="ket">
              <h2><%= a.name %></h2>
              <span class="badge badge-primary" >
                <%= a.last_upload %>
              </span>
            </div>
          </div>
        </a>
    </div>
    <% }) %>
    </div>
  </div>
<br>
  <div class="product-cart">
    <h3 class="title" >Komik berwarna Terbaru</h3>
    <div class="produk-list">
      <% body.colored_komik.forEach(a=> { %>
    <div class="produk-box">
      <a class="see-detail" href="#" data-toggle="modal"
          data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
          data-target="#exampleModal">
          <div>
            <img id="myFile" src="<%= a.thumb %>" >
            <div class="ket">
              <h2><%= a.name %></h2>
              <span class="badge badge-primary" >
                <%= a.last_upload %>
              </span>
            </div>
          </div>
        </a>
    </div>
    <% }) %>
    </div>
  </div>
</div>

<!-- MOBILE -->
<!-- MOBILE -->

<div class="hidden-new">
  <div class="total-cart shadow">
    <h2 class="title">Popular Terbaru</h2>
      <% body.recent_popular.forEach(a=> { %>
      <ul>
        <li>
          <a class="see-detail" href="#" data-toggle="modal"
            data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
            data-target="#exampleModal">
          <img width="50px" src="<%= a.thumb %>" alt="">
          <%= a.name %>
          </a>
        </li>
      </ul>
      <% }) %>
      <h2 class="title">Komik Berwarna</h2>
        <% body.colored_komik.forEach(a=> { %>
        <ul>
          <li>
            <a class="see-detail" href="#" data-toggle="modal"
              data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
              data-target="#exampleModal">
            <img width="50px" src="<%= a.thumb %>" alt="">
            <%= a.name %>
            </a>
          </li>
        </ul>
        <% }) %>
    </div>
</div>

<div class="total-cart shadow">
    <h2 class="title">Popular</h2>
    <div class="">
      <% sidebar.popular.forEach(a=> { %>
        <ul>
          <li>
            <a class="see-detail" href="#" data-toggle="modal"
              data-source="komikindo" data-endpoint=<%=a.link.endpoint %>
              data-target="#exampleModal">
            <img width="50px" src="<%= a.thumb %>" alt="">
            <p><%= a.name %> <br>
            ⭐️ <%= a.score %></p>
            </a>
          </li>
        </ul>
        <% }) %>
    </div>
</div>

<!-- MOBILE -->
<!-- MOBILE -->


</main>



<div class="wrapper-cart">

</div>
<%- include('../../layout/footer') %>
